<br>
<full-calendar
  #calendar
  defaultView="timeGridWeek"
  [plugins]="calendarPlugins"
  [header]="{
    left: 'today',
    center: 'title',
    right: 'prev,next'
  }"
  [buttonText]="{
    today: 'Aujourd\'hui'

  }"
  locale="fr"
  allDayText="Journée"
  weekNumberCalculation="ISO"
  nowIndicator="true"
  (eventClick)="onClickEvent($event.event)"
  [events]="events"
  [titleFormat]="{ year: 'numeric', month: 'long' }  "
  [height]="calendarHeight"
  minTime="07:00:00"
  maxTime="20:00:00"
></full-calendar>
