<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Daily Dashboard</h1>
    <img src="../assets/logo.png" alt="logo" style="width: 32px; margin-left: 16px">
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #nav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="" (click)="nav.close()">
          Home <span class="sidenav-spacer"></span> <mat-icon>home</mat-icon>
        </a>
        <a mat-list-item>
          Account <span class="sidenav-spacer"></span> <mat-icon>account_circle</mat-icon>
        </a>
        <a mat-list-item>
          Edit preferences <span class="sidenav-spacer"></span> <mat-icon>edit</mat-icon>
        </a>
        <a mat-list-item routerLink="about" (click)="nav.close()">
          About <span class="sidenav-spacer"></span> <mat-icon>info</mat-icon>
        </a>
        <a mat-list-item>
          Logout <span class="sidenav-spacer"></span> <mat-icon>logout</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
