<h1 class="text-center">Bienvenue sur Daily Dashboard !</h1>
<mat-card>
  <mat-card-header>
    <mat-card-title>Inscription</mat-card-title>
    <mat-card-subtitle><a routerLink="">Retour</a></mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="form-container">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Entrez votre adresse mail" type="email">
        <mat-error>
          Entrez une adresse mail valide !
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Entrez votre mot de passe" type="password">
        <mat-hint>Au moins 6 caractères</mat-hint>
        <mat-error>
          Le mot de passe ne remplit pas les conditions
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="confirmPassword" placeholder="Confirmer votre mot de passe" type="password">
        <mat-error>
          Les mots de passe ne sont pas identiques
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" [disabled]="!registerForm.valid">S'inscrire</button>
    </mat-card-actions>
  </form>
</mat-card>
