<mat-tab-group *ngIf="this.news else loading">
  <mat-tab label="Affaires">
    <mat-list>
      <h2>Affaires</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.business">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Divertissement">
    <mat-list>
      <h2>Divertissement</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.entertainment">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Santé">
    <mat-list>
      <h2>Santé</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.health">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Science">
    <mat-list>
      <h2>Science</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.science">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Sports">
    <mat-list>
      <h2>Sports</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.sports">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Technologie">
    <mat-list>
      <h2>Technologie</h2>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let new of news.technology">
        <img matListAvatar src="{{ new.urlToImage }}" alt="Image article">
        <h3 matLine>{{ new.title }}</h3>
        <p matLine>
          <span>{{ new.description }}</span>
        </p>
        <a href="{{ new.url }}" target="_blank">
          <mat-icon color="accent">open_in_browser</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

<ng-template #loading>
  <div class="text-center app-loading">
    <mat-spinner class="spinner"></mat-spinner>
    <h4>Loading...</h4>
  </div>
</ng-template>
