<h1 mat-dialog-title  class="dialog-title">
    {{ event.title }}  
</h1>
<div mat-dialog-content>
  <p *ngIf="event.allDay; else duration">
    <mat-icon aria-hidden="true">date_range</mat-icon>
    <span *ngIf="event.allDay > 1; else singleDay">
      Du {{ event.start | date: 'EEEE' }} au {{ event.end | date: 'EEEE' }}
    </span>
    <ng-template #singleDay>
      Le {{ event.start| date: 'EEEE dd' }}
    </ng-template>
  </p>

  <ng-template #duration>
    <p>
      <mat-icon aria-hidden="true">date_range</mat-icon>
      {{ event.start | date: 'EEEEEE dd LLL' | titlecase }} : 
      {{ event.start | date: 'HH:mm' }} - {{ event.end | date: 'HH:mm' }}
    </p>
  </ng-template>

  <p *ngIf="event.extendedProps.organizer">
    <mat-icon aria-hidden="true">person</mat-icon>
    {{ event.extendedProps.organizer }}
  </p>

  <p *ngIf="event.extendedProps.location">
    <mat-icon aria-hidden="true">place</mat-icon>
    {{ event.extendedProps.location }}
  </p>
  <p *ngIf="event.extendedProps.description">
    <mat-icon aria-hidden="true">subject</mat-icon>
    {{ event.extendedProps.description }}
    </p>
</div>