@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/timegrid/main.css";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fc-button {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.fc-button:hover {
  background-color: #ff4081;
  border-color: #ff4081;
}

.fc-button:hover:disabled {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.text-center {
  text-align: center;
}